h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}






.combined-controls{
    display: flex;
    
    width: 50%;
}


.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;  /*这里的宽度是基于.map的宽度 (flex: 2) 计算的 */
    /* border: 1px solid black;  */
    padding: 10px;
    /*margin-left: 250px;*/
    margin: 150px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: 1px;
}













.state-dropdown{
    margin-right: 100px;
   
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    
}


.map {
    flex: 2; 
    height: 800px; 
    /* border: 1px solid black;*/
    margin-right: 20px;
    background-color:#f1dcca; 
}

.charts {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px; 
}

.chart {
    flex: 1; 
   /* border: 1px solid black;*/
}
label {
    margin-right: 5px;  /* 调整标签右边的间距 */
}

.controls select {
    margin-right: 80px;  /* 在每个复选框后面添加一些间距 */

}
.tooltip {
    position: absolute;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    z-index: 10;
}



/* Banner */
#banner {
    padding: 13em 0 15em 0;
    background-color: #0c0c0c;
    /* © rawpixel */
    background-image: url("banner_image.jpg");
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: bottom;
    text-align: center;
    position:relative;
    /*z-index: 9999;*/
}
    #banner h1 {
        color: #ffffff;
        
    }
    #banner .inner {
        
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position:relative;
        z-index: 10000;
        line-height: 1;
        
        
    }
    #banner h1 {
        font-size: 3em;
        margin: 0 0 1em 0;
        padding: 2px;
        letter-spacing: 3px;
        font-weight: 700;
        font-family: 'Times New Roman';
    }


    .title1 {
    padding: 40px;
    justify-content: space-between;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 2em;

}

/*Description*/
.description {
    padding: 75px;
    grid-area: desp;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
      }

/*.chart {
    grid-area: chrt;
    padding: 2px;
    justify-content: space-between;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 30px;
    background-color: rgb(243, 234, 234);
    font-family: 'Andale Mono';
      }
*/

 /*   
.description {
    padding: 75px;
    grid-area: desp;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    }
 */   
.chart {
    grid-area: chrt;
    padding: 1px;
    justify-content: space-between;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 30px;
    background-color: rgb(243, 234, 234);
    /*font-family: 'Andale Mono';*/
    }

    
/* Map */
.states :hover {
    fill: gold;
}

.state-borders {
    fill: none;
    stroke: #140818;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

/* Tippy */
.tippy-box {
	background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	padding: 5px 8px;
	border-radius: 5px;
	opacity: 0.8;
	font-weight: bold;
}
.tippy-box table {
	font-size: 10pt;
	color: white;
    font-family:'Times New Roman', Times, serif;
}
.tippy-box th {
	font-size: 14pt;
	color: white;
    font-family:'Times New Roman', Times, serif;
}


/* Axis */

.axis {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-label {
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 1px;
}

.label{
    fill: black;
    font-size: 12px;
}
